<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-collapse collapse" style="display:inline-block">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-dashboard"></span>
                Freelancer Website
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/jobs">Jobs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn" href="#">Login</a></li>
            </ul>
            
        </div>
    
    </div>
</nav>