<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); -%>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <p>Sorry, an error has occured, Requested page not found!</p>
                </div> <br>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        Return to safety
                        <i class="fas fa-home"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<br>

<footer class="footer">
    <div class="container">
        <p class="text-muted">© Fictional Copyright 2020 by mcneelyad</p>
    </div>
</footer>

</html>