<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); -%>
    </head>
    <body class="container">

    <header>
        <%- include("../partials/header"); -%>
    </header>

    <main>

        <div class="row">
            <div class="col-sm-8">    
                <div class="jumbotron">
                    <h2>Freelancer Website</h2>
                    <p>A website for users to post ideas/concepts or jobs for freelance developers to complete and then the user will decide on the best version to buy. </p>        
                </div>
            </div>

            <div class="col-sm-4">        
                <div class="well">
                    <p>Sidebar!</p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include("../partials/footer"); -%>
    </footer>

    </body>
</html>